@import "../../styles.scss";

input#quote-search {
  outline-style: none;
  font-size: 1em;
  border: 1px solid $blue-background;
  padding: 2px 4px;
}

ul.quotes {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li.quote {
    border: 1px solid $blue-background;
    padding: 2px 4px;

    a.quote-link {
      text-decoration: none;
      color: black;
      opacity: 0.75;
    }

    a.quote-link:hover {
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }
}
