@import "../styles.scss";

h1.title {
  margin: 0 0 50px;
  font-size: 5em;
  font-weight: 100;
}

a.router-link {
  text-decoration: none;
  font-size: 1.5em;
  color: $blue-text;
  background-color: $blue-background;
  padding: 5px 10px;
  border-radius: 5px;
}
