@import "../../styles.scss";

h2.title {
  font-size: 2em;
  font-weight: 500;
}

ul.quotes {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.quote {
    margin: 25px 0;
    padding: 15px 10px 10px;
    background-color: $gray-background;

    span.id {
      color: $blue-text;
      background-color: $blue-background;
      padding: 5px 10px;
      border-radius: 1px;
      margin-right: 10px;
    }

    span.author {
      font-weight: 700;
    }

    span.text {
      display: inline-block;
      margin-top: 15px;
      white-space: pre-wrap;
    }
  }

  li.quote:hover {
    cursor: pointer;
    background-color: $gray-background-selected;
  }

  li.quote.selected {
    background-color: $gray-background-selected;
  }
}
