@import "../../styles.scss";

div.add-block {
  label.input-label {
    margin-right: 20px;
    font-weight: 700;

    input.inline-input {
      margin-left: 10px;
      outline-style: none;
      font-size: 1em;
      border: 1px solid $blue-background;
      padding: 2px 4px;
    }

    input.author-input {
      width: 200px;
    }

    input.text-input {
      width: 500px;
    }
  }

  label.input-label:last-of-type {
    margin-right: 30px;
  }
}

ul.quotes {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.quote {
    position: relative;

    a.detail-link {
      display: block;
      margin: 25px 0;
      padding: 15px 10px 10px;
      color: black;
      background-color: $gray-background;
      text-decoration: none;
      color: black;
      text-decoration: none;

      span.id {
        color: $blue-text;
        background-color: $blue-background;
        padding: 5px 10px;
        border-radius: 1px;
        margin-right: 10px;
      }

      span.author {
        font-weight: 700;
      }

      p.text {
        margin: 15px 0 0;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    a.detail-link:hover {
      cursor: pointer;
      background-color: $dark-gray-background;
    }

    button.delete-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    button.delete-button:hover {
      box-shadow: 1px 1px 5px 1px $dark-gray-background;
    }
  }
}
