@import "../../styles.scss";

h2.title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
}

ul.quotes {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a.detail-link {
    display: block;
    margin: 25px 0;
    padding: 15px 10px 10px;
    color: black;
    background-color: $gray-background;
    text-decoration: none;
    color: black;
    text-decoration: none;

    span.id {
      color: $blue-text;
      background-color: $blue-background;
      padding: 5px 10px;
      border-radius: 1px;
      margin-right: 10px;
    }

    span.author {
      font-weight: 700;
    }

    span.text {
      margin-top: 15px;
      white-space: pre-wrap;
    }
  }

  a.detail-link:hover {
    cursor: pointer;
    background-color: $dark-gray-background;
  }
}
