@import "../../styles.scss";

div.messages-block {
  margin-top: 50px;

  .clear-button {
    cursor: pointer;
    color: $blue-text;
    background-color: $blue-background;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
