@import "../../styles.scss";

div.messages-block {
  margin-top: 50px;

  h2.title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 50px 0 10px;
  }

  .clear-button {
    cursor: pointer;
    color: $blue-text;
    background-color: $blue-background;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}
