@import "../../styles.scss";

div.dashboard {
  display: flex;
  justify-content: space-between;

  a.element {
    flex: 1 1 0px;
    margin: 0 15px;
    padding: 15px;
    color: black;
    background-color: $gray-background;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px $dark-gray-background;

    h3.author {
      margin: 0 0 10px;
    }

    p.text {
      margin: 0;
      white-space: pre-wrap;
    }
  }

  a.element:first-of-type {
    margin-left: 0;
  }

  a.element:last-of-type {
    margin-right: 0;
  }

  a.element:hover {
    background-color: $dark-gray-background;
  }
}
