@import "../../styles.scss";

h2.title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
}

span.subtitle {
  font-weight: 700;
}

button.go-back-button {
  cursor: pointer;
  color: $blue-text;
  background-color: $blue-background;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
