@import "../../styles.scss";

span.subtitle {
  font-weight: 700;
  margin-right: 5px;
}

span.text {
  white-space: pre-wrap;
  display: inline-block;
  vertical-align: top;
}

button.go-back-button {
  cursor: pointer;
  color: $blue-text;
  background-color: $blue-background;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
