@import "../../styles.scss";

span.subtitle {
  font-weight: 700;
  margin-right: 5px;
}

input.text {
  width: 250px;
  outline-style: none;
  font-size: 1em;
  border: 1px solid $blue-background;
  padding: 2px 4px;
}

div.button-panel {
  margin-top: 15px;

  * {
    margin-right: 10px;
  }

  *:last-of-type {
    margin-right: 0;
  }
}
